M04/UF1/UF1NF1A6_Activitats_DTDMiquelAndres/E3.dtd

<!ELEMENT escala (vei*)>
<!ELEMENT vei (nom, cognoms, portal, pis, ccc, carrec)>
<!ATTLIST vei Codi ID #REQUIRED>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT cognoms (#PCDATA)>
<!ELEMENT portal (#PCDATA)>
<!ELEMENT pis (#PCDATA)>
<!ATTLIST pis lletra CDATA #REQUIRED>
<!ELEMENT ccc (#PCDATA)>
<!ELEMENT carrec (#PCDATA)>