M04/UF1/UF1NF1A6_Activitats_DTDMiquelAndres/E4.dtd

<!ELEMENT concessionari (cotxe*)>
<!ELEMENT cotxe (marca, model, matricula, potencia, places, nportes)>
<!ATTLIST cotxe Codi ID #REQUIRED>
<!ELEMENT marca (#PCDATA)>
<!ELEMENT model (#PCDATA)>
<!ELEMENT matricula (#PCDATA)>
<!ELEMENT potencia (#PCDATA)>
<!ATTLIST potencia unitat_mesura CDATA #REQUIRED>
<!ELEMENT places (#PCDATA)>
<!ELEMENT nportes (#PCDATA)>